<div class="container">
<div class="row" >
  <div class="col-sm-12">

<h3>BASIC FUNCTIONS:-</h3>
<p>
<li> Consulting with the analysts / programmers, end users / clients, and other stakeholders’ advising them how to develop / design and use information technology in order to meet their business objectives or overcome problems</li>
<li>Consulting to improve the structure and efficiency of  the hospital’s IT systems</li>
<li>Consulting and  participating to provide strategic guidance to the organization with regard to IT technologies, IT infrastructures and the enablement of major business processes through enhancements to IT</li>
<li>Provide guidance during selection and procurement as well providing highly expert technical assistance, and may be responsible for user training and feedback</li>
</p>
<h3>PRINCIPAL DUTIES:-</h3>
<p>
<li>Meeting with end users / clients to determine requirements</li>
<li>Working with end users / clients to define the scope of a project</li>
<li>Planning timescales and the resources needed</li>
<li>Clarifying a clients system specifications; understanding their work practices and the nature of their business</li>
<li>Travelling to customer sites</li>
<li>Liaising with staff at all levels of a client organization</li>
<li>Defining software, hardware and network requirements</li>
<li>Analyzing IT requirements within companies and giving independent and objective advice on the use of IT</li>
<li>Supervise developing of agreed solutions and implementing new systems</li>
<li>Presenting solutions in written or oral reports</li>
<li>Helping clients with change-management activities</li>
<li>Furnish advice upon purchasing systems where appropriate</li>
<li>Supervise in designing, testing, installing and monitoring new systems</li>
<li>Preparing documentation and presenting progress reports to customers</li>
<li>Organizing training for users and other consultants</li>
<li>Being involved in sales and support and, where appropriate, maintaining contact with client organization</li>
<li>Identifying potential clients and building and maintaining contacts.</li>
</p>
                                                                                      
<h3>EDUCATION:-</h3>
<p>
•	A  Bachelor Degree in Systems Engineering.
</p>
        
<h3>PROFESSIONAL EXPERIENCE:-</h3>

<li>Experience in IT infrastructure planning and development</li>
<li>Strong team leading skills</li>
<li>Ability to effectively priorities and executes tasks in a high-pressure environment.</li>
  </div>
  
</div>
