<div class="container">
<div class="row" >
  
  <div class="col-sm-12">
    <img class="img-responsive" class="img-rounded" src="./app/images/his.png" width="100%" height="350" /><h3>Hospital Information System (HIS)</h3>
    <p aliign="justify">
    The Hospital Information Management (HIS) is developed and maitained by IT for hospital-wide  uses. It covers the following modules namely- 
    </p>

<li> Medical record</li>
<li>Hospital Statistics</li>
<h3>Administration:-</h3>
         <li>Human Resource</li>
         <li>Purchasing, stores and supplies</li>
         <li>Financial affairs</li>
         <li>Public relation & marketing</li>
         <li>Patient relation</li>
         <li>Quality Management</li>
         <li>Reception</li>

<h3> Medical Division:-</h3>
         <li>Outpatient</li>
         <li>Inpatient</li>
         <li>Emergency</li>
          <li>Intensive care unit – Adult, children & NICU</li>
         <li>Radiology- X-Ray, Ultra sound and CT Scam</li>
         <li>Laboratory services</li>
         <li>Operation Room</li>
         <li>All surgical unit including plastic surgery</li>
         <li>Nutrition</li>
         <li>Physiotherapy</li>
         <li>Dental</li>

  <h3> Nursing Services</h3>
        <li>Pharmacy- external and internal</li>
                
  <h3>Engineering Division:-</h3>
        <li>General maintenance</li>
        <li>Bio medical engineering</li>

  </div>
  
</div>
